.mole {
  height: 5rem;
  width: 4rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100%;
  background-color: yellow;

  &.animate {
    animation-name: moveUpDown;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@keyframes moveUpDown {
  0%, 100% {
    bottom: -100%;
  }
  50% {
    bottom: 0;
  }
}