.mole {
  height: 50%;
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100%;
  will-change: bottom, animation-duration, animation-delay;
  background-color: yellow;

  &:hover {
    cursor: pointer;
  }

  &.animate {
    animation-name: moveUpDown;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@keyframes moveUpDown {
  0%, 100% {
    bottom: -100%;
  }
  50% {
    bottom: 0;
  }
}