<div class="pt-5 container">
  <div class="h4 text-center">Welcome to...</div>
  <div class="row mb-2">
    <div class="col-5 col-sm-4 col-md-4 col-lg-2 mx-auto text-center">
      <img src="assets/logo.svg" class="img-fluid" />
    </div>
  </div>
  <p class="h4 mb-5 text-center">I Can Angular!</p>
  <div class="d-flex align-items-center h2">
    <span class="mr-3">Hello there</span>
    <div class="block animate-wave">
      <span role="img" aria-label="Waving hand">👋</span>
    </div>
  </div>
  <p>
    Thanks for checking out my awesome Angular repo! I set this up as a way to
    guide new Angular devs towards some of the Angular best practices.
  </p>
</div>