<div>
  <h1 class="mb-3">AGL Developer Test! 
    <span role="img" aria-label="dog face emoji">🐶</span>
  </h1>
  <p class="mb-5">
    This is my submission for the AGL developer test.
  </p>

  <h2>The challenge</h2>
  <p>The developer test was as follows:</p>
  <blockquote class="mb-4">
    A json web service has been set up at the url: 
    <a href="http://agl-developer-test.azurewebsites.net/people.json">
      http://agl-developer-test.azurewebsites.net/people.json
    </a>
    <br>
    You need to write some code to consume the json and output a list of all the cats in alphabetical order under a heading of the gender of their owner.
    <span class="quote-author">- Hiring manager, AGL</span>
  </blockquote>
  <h2>The result</h2>
  <p>I have completed this task below. Thanks for taking the time to consider my application, I hope to hear from you soon!</p>
  <ng-container *ngIf="(owners$ | async)">
    <app-list *ngFor="let gender of owners$ | async"
      [items]="gender.items"
      [title]="gender.title"
    ></app-list>
  </ng-container>

</div>